.pickdiv {
		background-color:#CCCCCC;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		position:absolute;
		top:2px;
		left:2px;
}
.relpos {
	position:relative;
	}
.selWdt {
	width:100px;
	}
.texW15 {
	width:60px;
	}
.noShow {
		display:none;
		}
	.doShow {
		/* normal */
		}
	input.inactive,select.inactive {
		background-color:#999999;
		}
	.f12t {font-family:"Times New Roman", Times, serif;
		font-size:12px;
		}
		
	.f11a {font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		}
	.d11a {font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		user-focus: select-all;
		}
	.looky {
		background-color:#CCFFCC;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		/* keep fonts data size */
		}
	.saving {
		background-color:#FF0000;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		}
	.hasProbs {
		background-color:#FF0000;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		/* keep fonts data size */
		}
	input:focus, textarea:focus, select:focus {
		border: 2px solid #FFFF00;
	}
	fieldset {
		padding:0px;
		}
	.fs {
		border: 2px ridge #669999;
		width:100%;
		padding:1px;
		margin:1px;
		}