#DEControls {
	font-size:small;
	border:1px solid black;
	text-align:center;
}
.celltitle{
	cursor:move;
	background: #ccc;
	font-weight: bold;
	font-size:x-small; 
}

#dataEntryContainer {
    border: 1px solid black;
    overflow: hidden;
    margin: auto;
}
#container .wrapper {
    width: 100%;
}
#container #left-col .item {
    margin: .5em .25em .5em .5em;
    border: 1px solid black;
}
#container #right-col .item {
    margin: .5em .5em .5em .25em;
    border: 1px solid black;
}
#left-col, #right-col {     }
#left-col { 
	float: left;,
	width: 50%; 
}
#right-col { 
	float: right;
	width: 50%;
}      
.nowrap {
 	white-space:nowrap;
 }
.valignmiddle {
	vertical-align: middle;
}
.valigntop {
	vertical-align: top;
}
#loadingAnimation{
	position:fixed;
	top:50%;
	left:40%;
	padding:5px;
	z-index:2001;
}
label.inline {
	display:inline;
	font-size:11px;
	font-weight:400;
	padding-right:.01em;
}
#loadedMsgDiv{display:none;}
.isGoodEdit {
	background-color:#00CCCC;
}
.isBadEdit {
	background-color:#FF6EC7;
}
.isEnter {
	border:none;
	background-color:#bed88f;
}
#sort_geology {display:none;}
#msg {
	position:fixed;
	bottom:0;
	z-index:10000;
	text-align:center;
	font-size:small;
	width:100%;
	border:2px solid black;
	background-color:white;
	max-height:5em;
	overflow:auto;
}
.bad{
	color:red;
	font-weight:bold;
	font-size:larger;
}
.good{color:green;}
input, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0px;
	margin:0px;
}
.noShow {
	display:none;
}
.doShow {
	/* normal */
}
.f11a {font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-right:2px;
}
.hasProbs {
	border:4px solid #FF0000;
	outline: 4px solid white;
}
input:focus, textarea:focus, select:focus {
	border: 2px solid #FFFF00;
}
.fs {
	border: 2px ridge #669999;
	width:100%;
	padding:1px;
	margin:1px;
}

.err {
	width:100%;
	text-align:center;
	border:1px solid red;
	font-size:small;
}