#files
.project
*.gz
*.xml
.git
robots.txt

#folders
tutorial_images/
mediaUploads/
temp/
bnhmMaps/tabfiles/
cache/
download/
sandbox/
Reports/templates/

#portals
all_all
coa_all
coa_bird
coa_egg
coa_ento
coa_herp
coa_mamm
crcm_bird
cumv_all
cumv_amph
cumv_bird
cumv_fish
cumv_mamm
cumv_rept
dmns_bird
dmns_egg
dmns_inv
dmns_mamm
hwml_para
knwr_ento
knwr_herb
kwp_ento
mlz_bird
mlz_mamm
msb_bird
msb_fish
msb_herp
msb_host
msb_mamm
msb_para
msbobs_mamm
mvz_all
mvz_bird
mvz_egg
mvz_herp
mvz_hild
mvz_mamm
mvzobs_bird
mvzobs_herp
mvzobs_mamm
nbsb_bird
nmu_all
nmu_bird
nmu_mamm
uam_bird
uam_ento
uam_ento_all
uam_es
uam_fish
uam_herb
uam_herp
uam_inv
uam_mamm
uamb_herb
uamobs_ento
uamobs_fish
uamobs_mamm
umnh_all
usnpc_para
uwbm_herp
uwymv_bird
uwymv_herp
uwymv_mamm
wnmu_bird
wnmu_fish
wnmu_mamm