	.project
*.gz
*.xml
.git
robots.txt
mediaUploads/
temp/
/bnhmMaps/tabfiles/
cache/
download/
sandbox/
uam_mamm
uam_herp
nbsb_bird
uam_inv
kwp_ento
uamobs_mamm
msb_fish
wnmu_bird
crcm_bird
mvz_bird
mvzobs_herp
mvzobs_mamm
all_all
msbobs_mamm
knwr_ento
uam_ento_all
uamobs_fish
knwr_herb
uamobs_ento
uwymv_mamm
dmns_bird
mlz_mamm
nmu_mamm
umnh_all
coa_mamm
coa_bird
coa_ento
coa_herp
coa_egg
coa_all
dmns_inv
nmu_all
cumv_mamm
cumv_all
hwml_para
mvz_egg
uam_bird
uam_ento
uam_herb
uam_fish
msb_herp
mvz_hild
uamb_herb
dmns_mamm
msb_host
uam_es
mvz_all
mvzobs_bird
msb_bird
wnmu_fish
wnmu_mamm
msb_para
mvz_mamm
mvz_herp
uwbm_herp
uwymv_bird
mlz_bird
uwymv_herp
usnpc_para
dmns_egg
nmu_bird
cumv_bird
cumv_fish
cumv_amph
cumv_rept
msb_mamm
