.project
*.gz
*.xml
coa_herp/
mlz_bird/
mvz_egg/
nmu_mamm/
uam_bird/
uamobs_ento/
umnh_herp/
uwymv_herp/
coa_mamm/
dgr_bird/
mlz_egg/
mvz_herp/
uam_eh/
uamobs_fish/
umnh_mala/
uwymv_mamm/
coa_rept/
dgr_ento/
mlz_mamm/
mvz_hild/
uam_ento/
uamobs_mamm/
umnh_mamm/
all_all/
dgr_fish/
hwml_para/
mnu_mamm/
mvz_mamm/
psu_mamm/
uam_ento_all/
ucm_all/
unr_all/
wnmu_bird/
dgr_herp/
msb_all/
mvzobs_bird/
uam_es/
ucm_bird/
unr_bird/
wnmu_fish/
crcm_bird/
dgr_mamm/
msb_bird/
mvzobs_fish/
sandbox/
uam_fish/
ucm_egg/
unr_egg/
wnmu_mamm/
cumv_all/
dmns_all/
msb_fish/
mvzobs_herp/
uam_herb/
ucm_fish/
unr_fish/
chas_mamm/
cumv_amph/
dmns_bird/
knwr_ento/
msb_herp/
mvzobs_mamm/
uam_herb_all/
ucm_herp/
unr_herp/
coa_all/
cumv_bird/
dmns_egg/
knwr_herb/
msb_host/
nbsb_bird/
temp/
uam_herp/
ucm_mamm/
unr_mamm/
coa_amph/
cumv_fish/
dmns_herp/
kwp_ento/      msb_mamm/     nmu_all/      tools/           uam_inv/       ucm_obs/      usnpc_para/
coa_bird/     cumv_mamm/    dmns_inv/      log/           msbobs_mamm/  nmu_bird/     uam_alg/         uam_mamm/      ucmobs_host/  uwbm_herp/
coa_egg/      cumv_rept/    dmns_mamm/     m/             msb_para/     nmu_ento/     uam_arc/         uam_mamm_all/  umnh_all/     uwymv_all/
coa_ento/     CustomPages/  doc/           mediaUploads/  mvz_all/      nmu_fish/     uam_art/         uamobs_bird/   umnh_bird/    uwymv_bird/
coa_fish/     CustomTags/   download/      mlz_all/       mvz_bird/     nmu_herb/     uamb_herb/       uamobs_eh/     umnh_ento/    uwymv_fish/
