#header_color {
	background:url("/images/DMNSHeaderBg2.png") repeat-x scroll 0 0 #1C3664;
}
.headerInstitutionText, .headerCollectionText{
	color:white;
}

#headerLinks, #headerLinks a {
	color:white;
	size:small;
}
#headerLinks a:hover {
	color:red;
	size:small;
}