.nowrap {
 	white-space:nowrap;
 }
 
#loadingAnimation{
	position:fixed;
	top:50%;
	left:40%;
	padding:5px;
	z-index:2001;
}
label {
	display:inline;
	font-size:11px;
	font-weight:400;
	padding-right:.01em;
}
#loadedMsgDiv{display:none;}
.isGoodEdit {
	background-color:#00CCCC;
}
.isBadEdit {
	background-color:#FF6EC7;
}
.isEnter {
	border:none;
	background-color:#bed88f;
}

#msg {
	position:fixed;
	bottom:0;
	z-index:10000;
	text-align:center;
	font-size:small;
	width:100%;
	border:2px solid black;
	background-color:white;
}
.bad{color:red;}
.good{color:green;}
input, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0px;
	margin:0px;
}
.noShow {
	display:none;
}
.doShow {
	/* normal */
}
.f11a {font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-right:2px;
}
.hasProbs {
	background-color:#FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
input:focus, textarea:focus, select:focus {
	border: 2px solid #FFFF00;
}
.fs {
	border: 2px ridge #669999;
	width:100%;
	padding:1px;
	margin:1px;
}

.err {
	width:100%;
	text-align:center;
	border:1px solid red;
	font-size:small;
}