input, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0px;
	margin:0px;
}
.noShow {
	display:none;
}
.doShow {
	/* normal */
}
.f11a {font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-right:2px;
}
.hasProbs {
	background-color:#FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
input:focus, textarea:focus, select:focus {
	border: 2px solid #FFFF00;
}
.fs {
	border: 2px ridge #669999;
	width:100%;
	padding:1px;
	margin:1px;
}