.annotateBox {
		border:3px solid green;
		z-index:9999;
		position:absolute;
		top:5%;
		left:5%;
		width:85%;
		height:85%;
		background-color:white;
		overflow:auto;
	}
	.currData {
		color:#696969;
		font-size:.8em;
		}
	.annod {
		color:red;
		}
.windowCloser {
	float:right;
	clear:left;
	position:relative;
	top:0px;
	cursor:pointer;
	color:#2B547E;
	font-size:.65em;
}
.windowCloser:hover {
	color:#FF0000;
	text-decoration: underline;
	}
.noShow {
	display:none;
	}
.doShow {
	display:block;
	}
.toggleThis ,.toggleThis a:visited {
	/* NOTE: do NOT use ems here */
	cursor:pointer;
	color:#2B547E;
	font-size:.65em;}
.toggleThis:hover {
	color:#FF0000;
	text-decoration: underline;
	}
.prevAnn {
	color:green;
	font-size:.8em;
}
.prevAnnList {
	font-size:.8em;
	margin-left:10px;
}
.beThere {
	background-color:#F5F5F5;
	}
.seed {
	color:#D3D3D3;
	}