#menu {
width: 100%;
float: left;
background:#E7E7E7;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 10em;
float: left;
}

#menu a, #menu h2 {
font: bold 11px/16px arial, helvetica, sans-serif;
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 3px;
}

#menu h2 {
color: #0000FF;
background:#E7E7E7 url(/images/small-black-down-arrow.gif) no-repeat 100% 100%;
cursor:pointer;
}

#menu a {
color: #0000FF;
background: #E7E7E7;
text-decoration: none;
}
/*all links below main */
#menu a:hover {
color: red;
background: #E7E7E7;
}

#menu li {position: relative;}

#menu ul ul {
position: absolute;
z-index: 500;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

div#menu h2:hover{
background:#E7E7E7 url(/images/small-black-down-arrow.gif) no-repeat 100% 100%;
color:red;
}

#menu a.x, #menu a.x:visited{
font-weight:bold;
color:#0000FF;
background:#E7E7E7 url(/images/right_arrow.gif) no-repeat 100% 100%;
}

#menu a.x:hover{
color:red;
background:#E7E7E7 url(/images/right_arrow.gif) no-repeat 100% 100%;
}

#menu a.x:active{
color:#0000FF;
background:#E7E7E7;
}
/* ------------------ submenus ----------------------------------- */
div.submenu {
width:100%;
float: left;
}

div.submenu ul {
list-style: none;
margin: 0;
padding: 0;
width: 100%;
float: left;
}

div.submenu a, div.submenu h2 {
font: bold 11px/16px arial, helvetica, sans-serif;
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 3px;
}

div.submenu h2 {
color: #0000FF;
background:url(/images/small-black-down-arrow.gif) no-repeat 100% 100%;
cursor:pointer;
}

div.submenu a {
color: #0000FF;
background: #E7E7E7;
text-decoration: none;
}

div.submenu a:hover {
color: red;
}

div.submenu li {position: relative;}

div.submenu ul ul {
position: absolute;
z-index: 500;
}

div.submenu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}

div.submenu ul ul,
div.submenu ul li:hover ul ul,
div.submenu ul ul li:hover ul ul
{display: none;}

div.submenu ul li:hover ul,
div.submenu ul ul li:hover ul,
div.submenu ul ul ul li:hover ul
{display: block;}

div.submenu h2:hover{
background:#E7E7E7 url(/images/small-black-down-arrow.gif) no-repeat 100% 100%;
color:#0000FF;
}