
#navigation a
{
color: #000;
background: #fb0 url("/images/left_tab.gif") left top no-repeat;
text-decoration: none;
padding-left: 10px;
vertical-align:bottom;
}

#navigation a span
{
background: url("/images/right_tab.gif") right top no-repeat;
padding-right: 10px;
font-size:smaller;
}

#navigation a, #navigation a span
{
display: block;
float: left
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#navigation a, #navigation a span
{
float: none
}
/* End IE5-Mac hack */

#navigation a:hover
{
color: #fff;
background: #26a url("/images/left_tab_hover.gif") left top no-repeat;
text-decoration: none;
padding-left: 10px;
}

#navigation a:hover span
{
background: url("/images/right_tab_hover.gif") right top no-repeat;
padding-right: 10px;
vertical-align:bottom;
}

#navigation ul
{
list-style: none;
padding: 0;
margin: 0
}

#navigation li
{
float: left;
display: block;
margin: 0;
padding: 0
}
.border {height:3px;; background:#26a}
